{% extends 'base_template.html' %}

{% block titrePage %}
    <title>IslamElect : Home</title>
{% endblock %}
{% block corps %}
            <div  class ="cadreGroupeAcceuil" id="promos" style="width: 100%;height: 25%;">
                <h1 style="width: 12%;height: 10%;position: relative;top: 0.1%;left: 1%; ;text-align: center;">Promos</h1>

                <div id="cadre_promos_img" style="width: 50%;height: 80%;background-color: white;position: relative;left:25% ;top:0%;display: inline-flex; ">
                    {% for pros in promos %}
                    <div id="cadre_imageProduit" style="width: 49%;height: 100%;border: 3px solid;border-radius : 50% 0% 50% 0%">
                        <img src="{{ pros.image_Produit.url }}" style="border-radius :   50% 0% 50% 0%;position:relative;max-width:100%;max-height:100%;
                        " width="100%" height="100%" title="{{ pros.name }}">
                    </div>
                    <div id="cadre_imagePInfosroduit" style="width: 49%;height: 100%;border: 3px solid; border-radius :   50% 0% 50% 0%;;position:relative;left :2%">
                        <img src="{{ pros.image_Text.url}} " style="max-width:100%;max-height:100%;;border-radius : 50% 0% 50% 0%" width="100%" height="100%">
                    </div>
                    {% endfor %}

                </div>

            </div>

            <div class ="cadreGroupeAcceuil" id="Categories" style="width: 100%;height: 25%;border-top: 1px solid;">
                 <h1 style="width: 15%;height: 10%;position: relative;top: 0.1%;left: 1%; ;text-align: center;">Categories</h1>

                 <div id="cadre_promos_img" style="width: 100%;height: 80%;background-color: transparent;position: relative;left:0%;top: 0.1%;overflow-x:auto;white-space:nowrap;overflow-y:hidden;">
                     {% for categorie in categories %}
                    <button id="cadre_imageProduit" style="width: 20%;height: 80%;border-right: 1px solid;position: relative;margin-right :2%;margin-left :2%;top:10%; background-color: white;" >
                        <div class=" cadre_imageCatalogue"   style="width: 100%;height: 100%">
                            <a href="/catalogue/categorie/{{categorie.name}}">
                                <img src="{{ categorie.image.url }}" alt="{{ categorie.name }}" width="100%" height="100%" title="{{ categorie.name }}">

                            </a>
                        </div>
                    </button>
                     {% endfor %}
                </div>


            </div>

            <div class ="cadreGroupeAcceuil" id="Nv_produit" style="width: 100%;height: 25%; background-color: skyblue;">
                <h1 style="width: 15%;height: 10%;position: relative;top: 2%;left: 2%;color: white;background-color: transparent;">New Product</h1>
                <div id ="cadre_newProduit" style="width: 60%;height:80%;margin-left:20%;background-color: transparent;display:inline-flex">
                    {% for prod in produits %}
                    <div id="image_NewProduct" style="position:relative;margin-left:10%;width:40%;height:100%;background-color:white;
                    border-radius:90%;">

                            <a href="/catalogue/categorie/{{ prod.categorie }}/produit/{{ prod.name }}" >
                            <img src="{{prod.image_Produit.url}}"  width="100%" height="100%" title="{{ prod.name }}" style="border-radius:90%;
                            max-width:100%;max-height:100%">
                        </a>

                    </div>
                    {% endfor %}
                </div>

            </div>

            <div  class ="cadreGroupeAcceuil" id="newsletter" style="width: 100%;height: 25%;border-bottom: 1px solid;">
                <h1 style="color:black;width:35%;height:15%;text-align: center;position: relative;left:32%;top:10%">
                    Sign Up for the NEWSLETTER
                </h1>
                <form  method="POST" style=" background-color: white;width: 35%;height: 20%;position: relative;
                top: 10%;left:32%">
                <div id="cadre_InputNewsletter" style=" background-color: white;width: 100%;height: 100%;;display: inline-flex;">

                        {% csrf_token %}
                        <input type="text" value="entrer votre mail" id="input_mail" name="input_mail" style="width: 80%; height: 93%;position: relative;
                    background-color: royalblue;border-radius: 50% 0% 0% 50%;text-align: center;color: white;font-size: x-large">
                    <button type="submit"  id="btn_sendNewsLetter" style="width: 20%;height: 100%;background-color: black;color: white; border-radius: 0% 50% 50% 0%;font-size: x-large;">
                        send me

                    </button>
                </div>
                </form>


            </div>
{% endblock %}